/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #404040;
  --ifm-color-primary-dark: #3a3a3a;
  --ifm-color-primary-darker: #363636;
  --ifm-color-primary-darkest: #2d2d2d;
  --ifm-color-primary-light: #464646;
  --ifm-color-primary-lighter: #4a4a4a;
  --ifm-color-primary-lightest: #535353;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #e0e0e0;
  --ifm-color-primary-dark: #cacaca;
  --ifm-color-primary-darker: #bebebe;
  --ifm-color-primary-darkest: #9d9d9d;
  --ifm-color-primary-light: #f6f6f6;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #202020;
}

a {
  --ifm-link-color: #00aaff;
  --ifm-link-hover-color: #0077cc;
  --ifm-link-decoration: underline;
}

a[class] {
  --ifm-link-color: inherit;
  --ifm-link-hover-color: inherit;
  --ifm-link-decoration: none;
}